In [4]:
spark = SparkSession.builder.appName("PySpark_practise").getOrCreate()

NameError: name 'SparkSession' is not defined

In [2]:
df.show()

NameError: name 'df' is not defined

In [3]:
df=spark.read.csv('spark_null_values.csv',header=True,inferSchema='True')
df.show()

NameError: name 'spark' is not defined

In [4]:
print(mean_age)

NameError: name 'mean_age' is not defined

In [7]:
from pyspark.sql.functions import *
mean_age=df.select(round(mean('Age'))).first()[0]
print(mean_age)

30.0

In [17]:
median_age=df.approxQuantile('Age',[0.50],0.0)[0]
print(median_age)

29.0

In [19]:
mean_salary=df.select(round(mean('Salary'))).first()[0]
print(mean_salary)

80071.0

In [21]:
median_salary=df.approxQuantile('Salary',[0.75],0.4)[0]
print(median_salary)

95000.0

In [23]:
df_filled = df.withColumn(
    "Age",
    when(
        col("Age").isNull(),
        (rand() * (mean_age - median_age) + median_age).cast("int")  # Random integer in range
    ).otherwise(col("Age"))
)
df_filled.show()

+---+-------+----+------------+-------+
| ID|   Name| Age|        City| Salary|
+---+-------+----+------------+-------+
|  1|  Alice|25.0|    New York|70000.0|
|  2|    Bob|30.0|        NULL|80000.0|
|  3|Charlie|35.0| Los Angeles|90000.0|
|  4|  David|29.0|     Chicago|   NULL|
|  5|    Eve|28.0|        NULL|75000.0|
|  6|  Frank|40.0|     Houston|   NULL|
|  7|  Grace|29.0|     Phoenix|85000.0|
|  8|  Helen|22.0|Philadelphia|67000.0|
|  9|    Ivy|29.0| San Antonio|   NULL|
| 10|   Jack|29.0|        NULL|72000.0|
| 11|  Kathy|33.0|      Dallas|81000.0|
| 12|    Leo|31.0|   San Diego|   NULL|
| 13|   Mona|26.0|        NULL|73000.0|
| 14| Nathan|29.0|    San Jose|94000.0|
| 15| Olivia|24.0|      Austin|   NULL|
| 16|   Paul|38.0|        NULL|62000.0|
| 17|  Quinn|27.0|     Seattle|89000.0|
| 18| Rachel|29.0|      Denver|   NULL|
| 19|  Steve|32.0|      Boston|95000.0|
| 20|    Tom|29.0|        NULL|88000.0|
+---+-------+----+------------+-------+

In [24]:
mode_age = df_filled.groupBy('Age').count().orderBy(col('count').desc()).first()[0]
print(mode_age )

29.0

In [25]:
mode_age = df.groupBy('Age').count().orderBy(col('count').desc()).first()[0]
print(mode_age)

None

In [26]:
df.dtypes

[('ID', 'int'),
 ('Name', 'string'),
 ('Age', 'double'),
 ('City', 'string'),
 ('Salary', 'double')]

In [5]:
mode_age = df.groupBy('Age').count().orderBy(col('count').desc()).first()[0]
print(mode_age)

None

In [28]:
df.dtypes

[('ID', 'int'),
 ('Name', 'string'),
 ('Age', 'double'),
 ('City', 'string'),
 ('Salary', 'double')]

In [4]:
 from pyspark.sql.functions import col

count_29 = df.filter(col('Age') == 29.0).count()
print("Count of 29.0:", count_29)

Count of 29.0: 2

In [9]:
df_age = df.groupBy('Age')

AttributeError: 'GroupedData' object has no attribute 'display'